body{
background:#1b1b1b;
color:#fff;
font-family:monospace;
padding:20px;
}

select,button{
padding:8px;
margin-right:10px;
margin-bottom:20px;
}

pre{
background:#111;
padding:20px;
border-radius:10px;
overflow:auto;
white-space:pre-wrap;
}
