/*  ===============================
    Nueva barra superior EasySports
    =============================== */

.headBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #010206;
    box-shadow: var(--shadow);
    height: auto;
}

/* ---- LOGO ---- */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0 10px;
    margin: 0 auto 0 0;
}

.logo{
    font-style: italic;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1;
    user-select: none;
    font-size: clamp(2.2rem, 6.5vw, 4.2rem);
    padding: 11px;
    padding-left: 0;
}

.logo .easy{
    color:var(--text-color);
}

.logo .sports{
    background:linear-gradient(180deg,#2FA8FF 0%,#156CFF 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    color:transparent;
}

.header-actions{
    display:none;
    gap:15px;
}

.icon-button{
    background:none;
    border:none;
    font-size:24px;
    cursor:pointer;
    color:white;
}

.hidden{
    display:none!important;
}

