.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:70px;
    padding:0 10px;
    background:var(--surface-color);
    box-shadow:var(--shadow);
}

.logo{
    /* font-family:"Montserrat",sans-serif; */
    font-size:30px;
    font-style:italic;
    font-weight:800;
    letter-spacing:-1px;
    line-height:1;
    user-select:none;
}

.logo .easy{
    color:var(--text-color);
}

.logo .sports{
    background:linear-gradient(180deg,#2FA8FF 0%,#156CFF 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    color:transparent;
}

.header-actions{
    display:flex;
    gap:15px;
}

.icon-button{
    background:none;
    border:none;
    font-size:24px;
    cursor:pointer;
    color:white;
}
