.hero{
    width:100%;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:transparent;
}

.hero-banner{
    width:100%;
    max-width:1400px;
    border-radius:18px;
    display:block;

    box-shadow:
        0 10px 35px rgba(0,0,0,.45);

    transition:.35s ease;
}

.hero-banner:hover{

    transform:scale(1.01);

}
