.hero{
    width: 100%;
    padding-top: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:transparent;
}

.hero-banner{
    width: calc(100vw - 40px);
    max-width: 1400px;
    height: calc(100dvw * 0.26);
    border-radius:18px;
    display:block;

    box-shadow:
        0 10px 35px rgba(0,0,0,.45);

    transition:.35s ease;
}

.hero-banner:hover{

    transform:scale(1.01);

}
