.navbar{

    display:flex;

    gap:25px;

    padding:15px 25px;

    background:#181818;

}

.navbar a{

    color:white;

    text-decoration:none;

    transition:.25s;

}

.navbar a:hover{

    color:var(--primary-color);

}
