.navbar{
    display:flex;
    justify-content: space-around;
    gap: 4px;
    padding: 10px;
    background: #181818;
    text-align: center;
}

.navbar a{
    color:var(--text-color);
    text-decoration:none;
    font-weight:bold;
    transition:.25s;
    font-size: inherit;
}

.navbar a:hover{
    color:var(--primary-color);
}
.navbar a.active{
    color:var(--primary-color);
    border-bottom:2px solid var(--primary-color);
    padding-bottom:4px;
}

.navbar-item{
    position:relative;
    display:flex;
    justify-content:center;
}

#sportsMenu{
    position:relative;
    cursor: pointer;
}
