.raceCenter h3{
    font-size:1.6rem;
    font-weight:700;
    margin: 0;
}

.raceInfo{
    display: flex;
    flex-direction: column;
    margin: 4px 0px;
}

.raceWinner{
    display:flex;
    align-items:center;
    gap:10px;
    flex-wrap:wrap;
}

.winnerHeader{ 
    padding: 4px 0px;
}

.raceWinner strong, .raceWinner span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    white-space: nowrap;
    border-radius: 6px;
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, .12);
}

.raceWinner span{
    font-size: clamp(0.9rem, 1vw, 2.5rem);
    color: var(--text-secondary);
    padding: 0px 14px;
    border-radius: 999px;
}

/* .raceWinner small{
    color: var(--sport-primary);
    border-bottom: double;
} */

.raceMeta{
    display:flex;
    flex-wrap:wrap;
    gap: 6px;
    margin-top: 2px;
}

.raceMetaItem{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 6px;
    white-space: nowrap;
    border-radius:999px;
    /* background:rgba(255,255,255,.08); */
    border:1px solid rgba(255,255,255,.12);
}

.raceMetaItem span{ font-size: clamp(0.8rem, 1vw, 2.5rem); }
.raceMetaItem strong{ font-size: clamp(0.8rem, 1vw, 2.5rem); }

