.sports-menu{

    position:absolute;

    top:calc(100% + 10px);

    left:50%;

    transform:translateX(-50%);

    min-width:220px;

    display:none;

    flex-direction:column;

    background:#1f1f1f;

    border:1px solid #333;

    border-radius:12px;

    padding:8px 0;

    box-shadow:0 12px 30px rgba(0,0,0,.5);

    z-index:9999;

}

.sports-menu.show{

    display:flex;

}

.sports-menu a{

    padding:14px 16px;

    color:var(--text-color);

    text-decoration:none;

    font-size:15px;

    transition:.2s;

}

.sports-menu a:hover{
    background:rgba(255,255,255,.05);
    color:var(--primary-color);
}

.hidden{
    display:none!important;
}

.sports-menu.show{
    display:flex!important;
}
